/* Hide or show link text */
.follow-link-text,
.service-links-text {
  vertical-align: middle;
  padding: 0 10px;
  font-weight: bold;
}

/* Get rid of default Follow background image icon */
.follow-links a.follow-link {
  background-image: none;
}

/* Set icon size */
.follow-link-icon,
.service-links-icon {
  font-size: 2em;
  width: 32px;
  vertical-align: middle;
}

/* Common icon styles */
.follow-links a,
.service-links a,
li[class*='service-links-'] a {
  -moz-border-radius-topleft: 10px;
  -webkit-border-top-left-radius: 10px;
  border-top-left-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  -webkit-border-bottom-right-radius: 10px;
  border-bottom-right-radius: 10px;
  -moz-transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  -webkit-transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  display: block;
  padding: 10px;
  margin: 5px;
  color: white;
  text-align: center;
  float: left;
}
.follow-links a:hover,
.follow-links a:focus,
.service-links a:hover,
.service-links a:focus,
li[class*='service-links-'] a:hover,
li[class*='service-links-'] a:focus {
  text-decoration: none;
  color: black;
}

/* Remove left and right margins from either end of icon set */
.follow-link-wrapper:first-child a,
.service-links ul li:first-child a {
  margin-left: 0;
}
.follow-link-wrapper:last-child a,
.service-links ul li:last-child a {
  margin-right: 0;
}

.block-service-links .block-content ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.block-service-links .block-content ul li {
  margin: 0;
}

/* Follow module icon styles and states */
a.follow-link-this-site {
  background-color: #ff7010;
}
a.follow-link-this-site:hover,
a.follow-link-this-site:focus {
  background-color: #ffad76;
}
a.follow-link-facebook {
  background-color: #3b5998;
}
a.follow-link-facebook:hover,
a.follow-link-facebook:focus {
  background-color: #718dc8;
}
a.follow-link-flickr {
  background-color: #ff0084;
}
a.follow-link-flickr:hover,
a.follow-link-flickr:focus {
  background-color: #ff66b5;
}
a.follow-link-googleplus {
  background-color: #dd4b39;
}
a.follow-link-googleplus:hover,
a.follow-link-googleplus:focus {
  background-color: #ec9a90;
}
a.follow-link-instagram {
  background-color: #517fa4;
}
a.follow-link-instagram:hover,
a.follow-link-instagram:focus {
  background-color: #92b0c9;
}
a.follow-link-linkedin {
  background-color: #007bb6;
}
a.follow-link-linkedin:hover,
a.follow-link-linkedin:focus {
  background-color: #1db6ff;
}
a.follow-link-pinterest {
  background-color: #cb2027;
}
a.follow-link-pinterest:hover,
a.follow-link-pinterest:focus {
  background-color: #e76a6f;
}
a.follow-link-tumblr {
  background-color: #32506a;
}
a.follow-link-tumblr:hover,
a.follow-link-tumblr:focus {
  background-color: #5484ae;
}
a.follow-link-twitter {
  background-color: #00aced;
}
a.follow-link-twitter:hover,
a.follow-link-twitter:focus {
  background-color: #54d0ff;
}
a.follow-link-vimeo {
  background-color: #aad450;
}
a.follow-link-vimeo:hover,
a.follow-link-vimeo:focus {
  background-color: #d2e8a2;
}
a.follow-link-youtube {
  background-color: #bb0000;
}
a.follow-link-youtube:hover,
a.follow-link-youtube:focus {
  background-color: #ff2222;
}

/* Service Links module icon styles and states */
a.service-links-delicious {
  background-color: #0b79e5;
}
a.service-links-delicious:hover,
a.service-links-delicious:focus {
  background-color: #5facf7;
}
a.service-links-digg {
  background-color: #356aa0;
}
a.service-links-digg:hover,
a.service-links-digg:focus {
  background-color: #6d9dce;
}
a.service-links-facebook {
  background-color: #3b5998;
}
a.service-links-facebook:hover,
a.service-links-facebook:focus {
  background-color: #718dc8;
}
a.service-links-google-plus {
  background-color: #dd4b39;
}
a.service-links-google-plus:hover,
a.service-links-google-plus:focus {
  background-color: #ec9a90;
}
a.service-links-linkedin {
  background-color: #007bb6;
}
a.service-links-linkedin:hover,
a.service-links-linkedin:focus {
  background-color: #1db6ff;
}
a.service-links-pinterest {
  background-color: #cb2027;
}
a.service-links-pinterest:hover,
a.service-links-pinterest:focus {
  background-color: #e76a6f;
}
a.service-links-reddit {
  background-color: #ff4006;
}
a.service-links-reddit:hover,
a.service-links-reddit:focus {
  background-color: #ff8e6c;
}
a.service-links-stumbleupon {
  background-color: #eb4923;
}
a.service-links-stumbleupon:hover,
a.service-links-stumbleupon:focus {
  background-color: #f39681;
}
a.service-links-twitter {
  background-color: #00aced;
}
a.service-links-twitter:hover,
a.service-links-twitter:focus {
  background-color: #54d0ff;
}
a.service-links-yahoo {
  background-color: #7b0097;
}
a.service-links-yahoo:hover,
a.service-links-yahoo:focus {
  background-color: #ce00fd;
}
a.service-links-print {
  background-color: burlywood;
}
a.service-links-print:hover,
a.service-links-print:focus {
  background-color: #f4e7d7;
}
a.service-links-printmail {
  background-color: burlywood;
}
a.service-links-printmail:hover,
a.service-links-printmail:focus {
  background-color: #f4e7d7;
}
a.service-links-printpdf {
  background-color: burlywood;
}
a.service-links-printpdf:hover,
a.service-links-printpdf:focus {
  background-color: #f4e7d7;
}
